<html>

 <head>
 	<title>Rutgers Bar App</title>
 	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='bar.css')}}"/>
 </head>

 <body id="bod">

 <div id="mainDiv">

 	<div id="header">
 		<h1 id="title"><i> Rutgers University Bar Specials</i> </h1>
 		<h2 id="demo3"></h2>
 		<script>
 			var d=new Date();
 			document.getElementById("demo3").innerHTML=d.toDateString();
 		</script>
 	</div>

 	<ul id="navbar">
		<li><a href="javascript:void(0)" class="navele" onclick="openDay('Monday')">Monday</a></li>
 		<li><a href="javascript:void(0)" class="navele" onclick="openDay('Tuesday')">Tuesday</a></li>
 		<li><a href="javascript:void(0)" class="navele" onclick="openDay('Wednesday')">Wednesday</a></li>
 		<li><a href="javascript:void(0)" class="navele" onclick="openDay('Thursday')">Thursday</a></li>
		<li><a href="javascript:void(0)" class="navele" onclick="openDay('Friday')">Friday</a></li>
 		<li><a href="javascript:void(0)" class="navele" onclick="openDay('Saturday')">Saturday</a></li>
 		<li><a href="javascript:void(0)" class="navele" onclick="openDay('Sunday')">Sunday</a></li>
 	</ul>



 	<div id="Monday" class="days">
		<p class ="deals">
			Bar = {{barsAr[0].name}} <br/>
			Address = {{barsAr[0].address}} {{barsAr[0].zip}} <br/>
			Special = {{specialsAr[0].special}} <br/>
			Price = ${{specialsAr[0].price}} <br/>
			Special = {{specialsAr[1].special}}<br/>
			Price = ${{specialsAr[1].price}}
		</p>
 	</div>

 	<div id="Tuesday" class="days">
 		<h1>Tuesday's Deals:</h1>
 		<p class ="deals">
			Bar = {{barsAr[5].name}} <br/>
			Address = {{barsAr[5].address}} {{barsAr[5].zip}} <br/>
			Special = {{specialsAr[9].special}} <br/>
			Price = ${{specialsAr[9].price}} <br/>
		</p>
 	</div>

	<div id="Wednesday" class="days">
 		<h1>Wednesday's Deals:</h1>
		<p class ="deals">
			Bar = {{barsAr[4].name}} <br/>
			Address = {{barsAr[4].address}} {{barsAr[4].zip}} <br/>
			Special = {{specialsAr[3].special}} <br/>
			Price = ${{specialsAr[3].price}} <br/>
		</p>
		<p class ="deals">
			Bar = {{barsAr[5].name}} <br/>
			Address = {{barsAr[5].address}} {{barsAr[5].zip}} <br/>
			Special = {{specialsAr[14].special}} <br/>
			Price = ${{specialsAr[14].price}} <br/>
		</p>
 	</div>

 	<div id="Thursday" class="days">
 		<h1>Thursday's Deals:</h1>
		<p class ="deals">
			Bar = {{barsAr[0].name}} <br/>
			Address = {{barsAr[0].address}} {{barsAr[0].zip}} <br/>
			Special = {{specialsAr[10].special}} <br/>
			Price = ${{specialsAr[10].price}} <br/>
		</p>
 	</div>

 	<div id="Friday" class="days">
 		<h1>Friday's Deals:</h1>
		<p class ="deals">
			Bar = {{barsAr[6].name}} <br/>
			Address = {{barsAr[6].address}} {{barsAr[6].zip}} <br/>
			Special = {{specialsAr[2].special}} <br/>
			Price = ${{specialsAr[2].price}} <br/>
		</p>
		<p class ="deals">
			Bar = {{barsAr[2].name}} <br/>
			Address = {{barsAr[2].address}} {{barsAr[2].zip}} <br/>
			Special = {{specialsAr[6].special}} <br/>
			Price = ${{specialsAr[6].price}} <br/>
		</p>
		<p class ="deals">
			Bar = {{barsAr[1].name}} <br/>
			Address = {{barsAr[1].address}} {{barsAr[1].zip}} <br/>
			Special = {{specialsAr[7].special}} <br/>
			Price = ${{specialsAr[7].price}} <br/>
			Special = {{specialsAr[8].special}}<br/>
			Price =${{specialsAr[8].price}}
		</p>
		<p class ="deals">
			Bar = {{barsAr[5].name}} <br/>
			Address = {{barsAr[5].address}} {{barsAr[5].zip}} <br/>
			Special = {{specialsAr[11].special}} <br/>
			Price = ${{specialsAr[11].price}} <br/>
		</p>
 	</div>

 	<div id="Saturday" class="days">
 		<h1>Saturday's Deals:</h1>
		<p class ="deals">
			Bar = {{barsAr[3].name}} <br/>
			Address = {{barsAr[3].address}} {{barsAr[3].zip}} <br/>
			Special = {{specialsAr[4].special}} <br/>
			Price = ${{specialsAr[4].price}} <br/>
		</p>
		<p class ="deals">
			Bar = {{barsAr[1].name}} <br/>
			Address = {{barsAr[1].address}} {{barsAr[1].zip}} <br/>
			Special = {{specialsAr[12].special}} <br/>
			Price = ${{specialsAr[12].price}} <br/>
		</p>
		<p class ="deals">
			Bar = {{barsAr[6].name}} <br/>
			Address = {{barsAr[6].address}} {{barsAr[6].zip}} <br/>
			Special = {{specialsAr[13].special}} <br/>
			Price = ${{specialsAr[13].price}} <br/>
		</p>
 	</div>

 	<div id="Sunday" class="days">
 		<h1>Sunday's Deals:</h1>
		<p class ="deals">
			Bar = {{barsAr[2].name}} <br/>
			Address = {{barsAr[2].address}} {{barsAr[2].zip}} <br/>
			Special = {{specialsAr[6].special}} <br/>
			Price = ${{specialsAr[6].price}} <br/>
		</p>
 	</div>

	<script>
 		function openDay(d){
 			var i, days, navele;
 			days=document.getElementsByClassName("days");
 			for (i = 0; i < days.length; i++) {
 				days[i].style.display = "none";
 			}
 			navele = document.getElementsByClassName("navele");
 			for (i = 0; i < navele.length; i++) {
 				navele[i].className = navele[i].className.replace(" active", "");
			}
 			document.getElementById(d).style.display = "block";
		}
 </script>

</div>
</body>
<html>
