<!DOCTYPE html>
<html lang = "en">
   <head></head>
   <body>
      
      <h3>
         <a href = "{{ url_for('show_all') }}">Bars in the Database:</a>
      </h3>
      
      <hr/>
      {%- for message in get_flashed_messages() %}
         {{ message }}
      {%- endfor %}
		
      <h3>Bars (<a href = "{{ url_for('new') }}">Add Bar
         </a>)</h3>
      
      <table>
         <thead>
            <tr>
               <th>Name</th>
               <th>City</th>
               <th>Address</th>
               <th>Zip</th>
               <th>Monday Special<th>
               <th>Tuesday Special<th>
               <th>Wednesday Special<th>
               <th>Thursday Special<th>
               <th>Friday Special<th>
               <th>Saturday Special<th>
               <th>Sunday Special<th>
                  
            </tr>
         </thead>
         
         <tbody>
            {% for bar in bars %}
               <tr>
                  <td>{{ bar.name }}</td>
                  <td>{{ bar.city }}</td>
                  <td>{{ bar.addr }}</td>
                  <td>{{ bar.zip }}</td>
                  <td>{{ bar.special.mon }}</td>
                  <td>{{ bar.special.tues }}</td>
                  <td>{{ bar.special.weds }}</td>
                  <td>{{ bar.special.thurs }}</td>
                  <td>{{ bar.special.fri }}</td>
                  <td>{{ bar.special.sat }}</td>
                  <td>{{ bar.special.sun }}</td>
               </tr>
            {% endfor %}
         </tbody>
      </table>
      
   </body>
</html>